@import url(https://fonts.googleapis.com/css?family=Nunito);/* Map styling */

#mapid {
  height: 400px;
  width: 100%;
  margin-top: 25px;
}

.mapcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-section {
  background-color: #484848;
  color: #F0F0F0;
  flex-direction: column;
}

.map-section h1 {
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: left;
  align-self: end;
}

.map-section #mapid {
  max-width: 1300px;
  grid-column-start: 2;
  grid-column-end: 12;
  grid-row-start: 2;
  grid-row-end: 5;
  justify-self: center;
  align-self: start;
  margin: 0;
}

/* Main */

main {
  position: relative;
  display: block;
  max-height: 80vh;
  min-height: 450px;
  width: 80vw;
  padding: 50px;
  padding-left: 75px;
  margin: 0 auto;
  margin-top: 15vh;
  overflow-y: auto;
  background-color: #F0F0F0;
  box-sizing: border-box;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.35);
}

main .content {
  color: #484848;
}

main h1 {
  color: #484848;
  font-weight: 700;
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 25px;
  display: inline-block;
  border-bottom: 2px solid #484848;
}

main a {
  color: #0C426D;
}

main .large_p {
  font-size: 1.2em;
  font-style: italic;
}

main .bolded {
  font-weight: 900;
}

@media screen and (min-width: 1200px) {
  main {
    max-height: 70vh;
    width: 60vw;
    margin-top: 15vh;
  }
}

@media screen and (max-width: 600px) {
  main {
    height: 90vh;
    max-height: 90vh;
    width: calc(100vw - (2 * 25px));
    padding: 25px;
    margin-top: 25px;
  }

  main h1 {
    display: block;
    width: 80%;
    padding-left: 20%;
    text-align: right;
  }
}

.music-section {
  background-color: #fff;
  min-height: calc(100vh - 60px);
  height: calc(100vh - 60px);
  padding: 30px 0;
}

.music-section img {
  height: 70%;
  max-height: 70%;
}

.music-section .content {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 8;
  max-width: 1000px;
}

.music-section .image-wrapper {
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 9;
  grid-column-end: 12;
  padding-top: 100px;
}

.music-section label {
  display: block;
}

.music-section .dropdown {
  width: 100%;
  border: 1px solid #484848;
  transition: max-height 0.4s ease-in-out;
  overflow: hidden;
  max-height: 60px;
  margin-bottom: 45px;
}

.music-section .dropdown .dropdown-title {
  padding: 20px;
}

.music-section .dropdown p {
  padding: 0 20px;
}

.music-section .dropdown-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0px solid #C0C0C0;
}

.music-section .arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #707070;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.music-section .dd-input:checked + .dropdown {
  max-height: 500px;
}

.music-section .dd-input:checked + .dropdown .dropdown-title {
  border-bottom: 1px solid #C0C0C0;
}

.music-section .dd-input:checked + .dropdown .arrow-down {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.music-section input[type=checkbox] {
  display: none;
}

.music-section .dropdown-content {
  word-break: break-all;
}

.faq-section {
  background-color: #F0F0F0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq-section img {
  height: 70%;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  align-self: center;
  justify-self: center;
}

.faq-section .content {
  max-width: 900px;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 12;
  align-self: center;
  justify-self: center;
  padding-left: 25px;
}

.faq-section .content h1 {
  margin-top: 0;
}

nav {
  position: fixed;
  width: 80vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 20px;
  word-spacing: 25px;
  z-index: 10;
}

nav a {
  text-decoration: none;
  color: #707070;
  cursor: pointer;
  padding-bottom: 5px;
}

nav a:hover {
  border-bottom: 1px solid #707070;
}

.burger-menu {
  display: none;
}

input[type=checkbox] {
  display: none;
}

@media only screen and (max-width: 415px) {
  .leaflet-bottom,
  .leaflet-pane {
    z-index: 7 !important;
  }

  .leaflet-top {
    z-index: 8 !important;
  }

  .burger-menu {
    display: block;
    position: fixed;
    right: 20px;
    top: 20px;
    height: 25px;
    width: 25px;
    z-index: 9;
  }

  nav {
    -webkit-transform: scale(0);
            transform: scale(0);
    transition: all 0.4s ease-in-out;
  }

  .checkbox-input:checked + nav {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 99;
    height: 100vh;
    width: 100vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .mobile-nav a {
    font-size: 30px;
    margin: 10px 0;
  }
}

form input,
form label,
form textarea {
  display: block;
  font-size: 1em;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  box-sizing: border-box;
  border: 0;
}

form input:focus,
form textarea:focus {
  outline: 0;
  border-bottom: 2px solid #A2D8F9;
}

form input[type=submit] {
  cursor: pointer;
}

.contact-section img {
  height: 50%;
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 1;
  grid-row-end: 5;
  justify-self: center;
  align-self: center;
}

.contact-section .content {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 8;
}

.contact-section input[type=text],
.contact-section input[type=email],
.contact-section textarea {
  border: 1px solid #484848;
  width: 100%;
}

.contact-section input:focus,
.contact-section textarea:focus {
  border: 1px solid #6C94B7;
}

.contact-section form {
  width: 100%;
}

.contact-section button {
  display: block;
  outline: none;
  text-align: center;
  width: auto;
  padding: 10px 25px;
  margin: 10px 0;
  background: #fff;
  border: 1px solid #6C94B7;
  color: #6C94B7;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.contact-section button:hover {
  color: white;
  background: #6C94B7;
}

.contact-section button.blue_btn {
  background: #6C94B7;
  color: #fff;
}

.contact-section button.green_btn {
  background: #6E9683;
  color: #fff;
}

/* Toilet */

.toilet-wrapper {
  position: absolute;
  bottom: 0;
  height: 200px;
  left: 75%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.toilet-image {
  height: 200px;
}

.music-note1 {
  position: absolute;
  top: 50%;
  left: 26%;
  height: 50px;
  -webkit-animation: fly-up1 2s linear infinite;
          animation: fly-up1 2s linear infinite;
}

@-webkit-keyframes fly-up1 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50px) translateY(-100px);
            transform: translateX(-50px) translateY(-100px);
    opacity: 0;
  }
}

@keyframes fly-up1 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50px) translateY(-100px);
            transform: translateX(-50px) translateY(-100px);
    opacity: 0;
  }
}

.music-note2 {
  position: absolute;
  top: 50%;
  left: 26%;
  height: 50px;
  -webkit-animation: fly-up2 2s 2.45s linear infinite;
          animation: fly-up2 2s 2.45s linear infinite;
}

@-webkit-keyframes fly-up2 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(20px) translateY(-75px);
            transform: translateX(20px) translateY(-75px);
    opacity: 0;
  }
}

@keyframes fly-up2 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(20px) translateY(-75px);
            transform: translateX(20px) translateY(-75px);
    opacity: 0;
  }
}

.music-note3 {
  position: absolute;
  top: 50%;
  left: 26%;
  height: 50px;
  -webkit-animation: fly-up3 2s 1.66s linear infinite;
          animation: fly-up3 2s 1.66s linear infinite;
}

@-webkit-keyframes fly-up3 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-5px) translateY(-125px);
            transform: translateX(-5px) translateY(-125px);
    opacity: 0;
  }
}

@keyframes fly-up3 {
  0% {
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-5px) translateY(-125px);
            transform: translateX(-5px) translateY(-125px);
    opacity: 0;
  }
}

@media screen and (max-width: 600px) {
  .toilet-wrapper {
    display: none;
  }
}

.login-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
}

.login-page > div {
  flex: 1;
}

.login-page h1 {
  font-size: 24px;
}

.login-page input {
  border: 0;
  border-bottom: 1px solid #aaaaaa;
  width: 100%;
  height: 27px;
  font-size: 18px;
  margin-bottom: 10px;
}

.login-page input:focus {
  outline: none;
  box-shadow: none;
  border-bottom: 1px solid #62aae6;
}

.login-page .forgot-pw {
  margin: 10px 0;
  color: #266ea8;
  cursor: pointer;
}

.login-page button {
  border: 0;
  background: #266ea8;
  color: white;
  padding: 5px;
  margin-top: 10px;
  outline: 0;
  padding: 10px 40px;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
}

.login-page .right-column {
  position: relative;
  background-image: url(/images/loginbg.png?5d61390d6a005733094a71fe65a9d52c);
  background-position: center center;
}

.login-page .left-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-page .left-column .login-form {
  width: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: -20px auto 0;
}

.admin-nav {
  position: absolute;
  top: 0;
  right: 30px;
}

.admin-nav li {
  list-style: none;
  display: inline-block;
}

.admin-nav a {
  text-decoration: none;
  color: #0C426D;
}

.admin-main {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 1000px;
}

.admin-main ul {
  list-style: none;
  padding: 0 40px;
}

.admin-main ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000;
  padding: 10px 0;
}

.admin-main ul li:last-child {
  border-bottom: unset;
}

.admin-main ul li a {
  text-decoration: none;
  color: #0C426D;
}

.admin-main ul li input {
  margin: 0;
}

.admin-main ul li .crud-space {
  display: flex;
  align-items: center;
}

.admin-main ul li .crud-space a {
  margin-right: 10px;
  color: #000;
}

.admin-main ul li .button {
  padding: 10px;
  background-color: #dddddd;
}

.styleguide_nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 275px;
  padding: 75px 50px;
  padding-left: 40px;
  border-right: 1px solid #F0F0F0;
  box-sizing: border-box;
  background-color: #484848;
}

.styleguide_nav p {
  font-weight: bold;
}

.styleguide_nav p,
.styleguide_nav a {
  display: block;
  color: #F0F0F0;
}

.styleguide_nav p a {
  text-decoration: none;
}

section.styleguide {
  width: calc(100vw - 275px);
  margin-left: 275px;
}

section.styleguide h1 {
  font-size: 3em;
}

section.styleguide h2 {
  font-size: 2.5em;
}

section.styleguide h3 {
  text-align: center;
}

section.styleguide h3 a {
  display: block;
  background-color: #F0F0F0;
  padding: 25px;
  border: 1px solid #484848;
  box-sizing: border-box;
  transition: all 0.25s;
}

section.styleguide h3 a:hover {
  background-color: #484848;
  color: #F0F0F0;
  cursor: pointer;
  transition: all 0.25s;
}

section.styleguide h4 {
  font-size: 1.5em;
  margin-top: 25px;
  margin-bottom: 10px;
}

section.styleguide .content p {
  margin: 10px 0;
}

section.styleguide a {
  color: inherit;
  text-decoration: none;
}

section.styleguide.centered .content {
  margin: 0 auto;
  grid-column-start: 1;
  grid-column-end: 13;
}

section.styleguide.basics,
#basics {
  background-color: #fff;
}

section.styleguide.basics .image-wrapper,
#basics .image-wrapper {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 6;
}

section.styleguide.basics .content,
#basics .content {
  margin-left: 25px;
}

section.styleguide.basics .content {
  grid-row-start: 1;
  grid-column-start: 3;
  padding-top: 75px;
}

section.styleguide.basics .content.goal_div {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 7;
  padding-top: 0;
}

section.styleguide.basics .content.goal_div .goal_borders {
  padding: 25px 50px;
  border: 1px solid #484848;
  box-sizing: border-box;
}

section.styleguide.basics .content.goal_div .goal_borders {
  margin-right: 50px;
}

section.styleguide.basics .content.goal_div .goal_borders.second {
  margin-right: 0;
  margin-left: 50px;
}

section.styleguide.basics .content.goal_div:last-child {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 7;
  grid-column-end: 11;
}

section.styleguide.cp {
  background-color: #484848;
  color: #F0F0F0;
}

section.styleguide.cp .content {
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 7;
}

section.styleguide.cp.personality {
  border: 0;
}

section.styleguide.cp.personality .content {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 11;
  max-width: none;
}

section.styleguide.cp.personality .content h2 {
  padding-top: 75px;
}

section.styleguide.cp.personality .content img {
  height: 200px;
  width: auto;
}

section.styleguide.design .content h2 {
  text-align: center;
}

section.styleguide.design .content h3 {
  display: inline-block;
  width: calc(50% - ( 25px / 2 ));
  margin: 12.5px 0;
}

section.styleguide.design .content h3:nth-child(odd) {
  margin-right: 25px;
}

section.styleguide.design .content.title {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  padding-top: 75px;
}

section.styleguide.design .image-wrapper.logo {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 12;
}

section.styleguide.design .content.title2 {
  grid-row-start: 3;
  grid-row-end: 4;
  padding-top: 0;
}

section.styleguide.design .image-wrapper.logo2 {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 12;
  padding-top: 120px;
  text-align: center;
}

section.styleguide.design .image-wrapper.logo2 img {
  display: inline-block;
  width: auto;
  height: 120px;
  padding: 0 10px;
}

section.styleguide.design_colors .color_div {
  display: inline-block;
  width: 30%;
  margin: 50px 0;
  box-sizing: border-box;
}

section.styleguide.design_colors .color_div .color {
  width: 100%;
  height: 100px;
  padding: 25px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  text-align: center;
  font-size: 0.75em;
}

section.styleguide.design_colors .color_div .color p {
  margin: 0;
  margin-top: 7.5px;
}

section.styleguide.design_colors .color_div .color.white {
  background-color: #FFFFFF;
}

section.styleguide.design_colors .color_div .color.light_grey {
  background-color: #F0F0F0;
}

section.styleguide.design_colors .color_div .color.grey {
  background-color: #484848;
  color: #fff;
}

section.styleguide.design_colors .color_div .color.light_green {
  background-color: #83AA97;
  color: #fff;
}

section.styleguide.design_colors .color_div .color.green {
  background-color: #6E9683;
  color: #fff;
}

section.styleguide.design_colors .color_div .color.dark_green {
  background-color: #5D7F6E;
  color: #fff;
}

section.styleguide.design_colors .color_div .color.yellow {
  background-color: #E5CC93;
  color: #fff;
}

section.styleguide.design_colors .color_div .color.blue {
  background-color: #6C94B7;
  color: #fff;
}

section.styleguide.design_colors .color_div .color.dark_blue {
  background-color: #3A445E;
  color: #fff;
}

section.styleguide.design_colors .color_div.middle {
  margin: 50px 5%;
}

section.styleguide.typography a {
  text-decoration: underline;
}

section.styleguide.typography .typography_p {
  margin-top: 50px;
  margin-bottom: 10px;
  font-weight: bold;
}

section.styleguide.illustrations .image-wrapper {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 10;
  text-align: center;
}

section.styleguide.illustrations .image-wrapper img {
  display: inline-block;
  height: 220px;
  max-width: 20%;
  margin: 0;
}

section.styleguide.illustrations .image-wrapper img:nth-child(1) {
  height: 210px;
  max-width: 50%;
}

section.styleguide.illustrations .image-wrapper img:nth-child(2) {
  margin: 0 25px;
}

section.styleguide.spacing .image-wrapper {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 3;
  grid-column-end: 10;
  text-align: center;
}

section.styleguide.spacing .image-wrapper img {
  height: 250px;
}

section.styleguide.forms input[type=text],
section.styleguide.forms input[type=email],
section.styleguide.forms textarea {
  border: 1px solid #484848;
  width: 100%;
}

section.styleguide.forms input:focus,
section.styleguide.forms textarea:focus {
  border: 1px solid #6C94B7;
}

section.styleguide.forms form {
  width: 600px;
  padding-top: 25px;
}

section.styleguide.forms button {
  outline: none;
  text-align: center;
  width: 50%;
  padding: 10px 25px;
  margin: 10px 0;
  margin-left: 25%;
  background: #F0F0F0;
  border: 1px solid #6C94B7;
  color: #6C94B7;
  letter-spacing: 1px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.25s ease;
}

section.styleguide.forms button:hover {
  color: #F0F0F0;
  background: #6C94B7;
}

section.styleguide.forms button.blue_btn {
  background: #6C94B7;
  color: #F0F0F0;
  cursor: pointer;
  transition: all 0.25s ease;
}

section.styleguide.forms button.blue_btn:hover {
  color: #6C94B7;
  background: #F0F0F0;
}

section.styleguide.forms button.green_btn {
  background: #6E9683;
  color: #F0F0F0;
  border: 1px solid #6E9683;
  cursor: pointer;
  transition: all 0.25s ease;
}

section.styleguide.forms button.green_btn:hover {
  color: #6E9683;
  background: #F0F0F0;
}

@media only screen and (max-width: 1000px) {
  .styleguide_nav {
    width: 200px;
    padding: 75px 50px;
    padding-left: 40px;
  }

  .styleguide_nav p {
    margin-bottom: 25px;
  }

  section.styleguide {
    width: calc(100vw - 200px);
    margin-left: 200px;
  }

  section#basics .image-wrapper {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 12;
  }

  section#basics .content {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 11;
    padding-top: 150px;
  }

  section.styleguide.basics .content.goal_div {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 12;
  }

  section.styleguide.basics .content.goal_div:last-child {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 12;
  }

  section.styleguide.basics .content.goal_div .goal_borders,
  section.styleguide.basics .content.goal_div .goal_borders.second {
    margin-right: 0;
    margin-left: 0;
  }

  section.styleguide.design .content {
    grid-row-start: 1;
    padding-top: 75px;
  }

  section.styleguide.design .content h2 {
    text-align: center;
  }

  section.styleguide.design .content .design_div {
    padding: 0 25%;
    padding-top: 50px;
  }

  section.styleguide.design .content h3 {
    display: inline-block;
    width: 100%;
    margin: 10px auto;
  }

  section.styleguide.design .content h3:nth-child(odd) {
    margin: 10px auto;
  }

  section.styleguide.forms form,
  section.styleguide.forms button {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

/* --- GENERAL --- */

* {
  font-family: "Nunito", sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

#app {
  height: 100vh;
  position: relative;
  overflow: auto;
}

.hidden {
  display: none;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}

.btn {
  display: block;
  width: 50%;
  padding: 10px 25px;
  margin: 25px auto;
  border: 0;
  background-color: #A2D8F9;
  color: #fff;
  font-size: 1.25em;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #0C426D;
  transition: all 0.5s;
}

a {
  color: #6C94B7;
}

section {
  min-height: 100vh;
  color: #484848;
}

section .content-wrapper {
  width: 100%;
  min-height: 100vh;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
  grid-template-rows: 25% 25% 25% 25%;
}

section .content {
  max-width: 600px;
}

section p {
  text-align: justify;
}

/* --- ADMIN --- */

.admin-body {
  background-color: #fff;
}

.admin-body::after {
  background: none;
}

.create-link {
  position: absolute;
  right: 15px;
  top: 10px;
}

.home-section {
  background-color: #F0F0F0;
}

.home-section .image-wrapper {
  grid-column-start: 2;
  grid-column-end: 6;
  grid-row-start: 2;
  grid-row-end: 4;
}

.home-section .image-wrapper img {
  max-height: 100%;
}

.home-section .content {
  margin-top: -25px;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 6;
  grid-column-end: 12;
}

.home-section .content p {
  margin-top: 40px;
  margin-bottom: 40px;
}

#home .content {
  padding-left: 25px;
}

/* --- RESPONSIVE --- */

@media only screen and (max-width: 769px) {
  .home-section .image-wrapper {
    padding: 10px 0 70px;
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 5;
  }

  .home-section .content {
    width: 75%;
    padding: 0 40px 0 20px;
    margin-top: 20px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 12;
    align-self: center;
    justify-self: center;
    padding: 20px;
  }

  .home-section .content h1 {
    text-align: center;
  }

  .home-section .content p {
    text-align: justify;
  }

  .music-section .content {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 12;
  }

  .music-section .image-wrapper {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 11;
    padding-top: 0;
  }

  .music-section img {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    height: 400px;
    max-height: 400px;
  }

  .map-section h1 {
    grid-column-end: 12;
    align-self: center;
  }

  .map-section #mapid {
    margin-top: -40px;
    height: 85%;
  }

  .faq-section img {
    display: none;
  }

  .faq-section .content {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 12;
    justify-self: center;
    align-self: center;
  }

  .faq-section .content p {
    text-align: justify;
  }

  .contact-section img {
    display: none;
  }

  .contact-section .content {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 12;
    justify-self: center;
    align-self: center;
  }

  .contact-section input[type=text],
  .contact-section input[type=email],
  .contact-section input[type=textarea] {
    width: 100%;
  }

  .contact-section form {
    width: 75vw;
  }
}

@media only screen and (max-width: 415px) {
  .home-section .content-wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33% 8.33%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .home-section .image-wrapper {
    display: none;
  }

  .home-section .content {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 12;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: 100%;
  }

  .music-section {
    height: 100%;
  }

  .music-section img {
    display: none;
  }

  .music-section .content-wrapper {
    min-height: calc(100vh - 120px);
  }

  .music-section .content {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 12;
    justify-self: center;
    align-self: center;
  }

  .music-section .dropdown {
    width: 100%;
  }

  .map-section h1 {
    grid-column-end: 12;
  }

  .faq-section img {
    display: none;
  }

  .faq-section .content {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 12;
    justify-self: center;
    align-self: center;
  }

  .contact-section img {
    display: none;
  }

  .contact-section .content {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 12;
    justify-self: center;
    align-self: center;
  }

  .contact-section input[type=text],
  .contact-section input[type=email],
  .contact-section textarea {
    width: 84vw;
  }

  .contact-section textarea {
    border: 1px solid #707070;
    max-width: 84vw;
  }

  .contact-section textarea:focus {
    border: 1px solid #707070;
  }

  .contact-section form {
    width: 100%;
  }
}

@media only screen and (max-height: 570px) {
  .map-section #mapid {
    margin-top: 0px;
  }
}

