// Admin nav
.admin-nav {
    position: absolute;
    top: 0;
    right: 30px;

    li {
        list-style: none;
        display: inline-block;
    }

    a {
        text-decoration: none;
        color: $secondary;
    }
}

// Admin main

.admin-main {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1000px;

    ul {
        list-style: none;
        padding: 0 40px;

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #000;
            padding: 10px 0;

            a {
                text-decoration: none;
            }

            input {
                margin: 0;
            }

            .crud-space {
                display: flex;
                align-items: center;

                a {
                    margin-right: 10px;
                    color: #000;
                }
            }

            .button {
                padding: 10px;
                background-color: rgb(221, 221, 221);
            }
        }
    }
}
