.faq-section {
    background-color: $light_grey;
    padding-top: 20px;
    padding-bottom: 20px;


    img {
        height: 70%;
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 5;
        align-self: center;
        justify-self: center;
    }

    .content {
        max-width: 900px;
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 5;
        grid-column-end: 12;
        align-self: center;
        justify-self: center;
        padding-left: $size_s;

        h1 {
            margin-top: 0;
        }
    }
}