form {
	input, label, textarea {
		display: block;
		font-size: 1em;
	}

	input, textarea {
		width: 100%;
		padding: $size_xs;
		margin-bottom: $size_s;
		box-sizing: border-box;
		border: 0;
	}

	input:focus, textarea:focus {
		outline: 0;
		border-bottom: 2px solid $primary;
    }

    input[type=submit] {
        cursor: pointer;
    }
}

.contact-section {
    img {
        height: 50%;
        grid-column-start: 9;
        grid-column-end: 12;
        grid-row-start: 1;
        grid-row-end: 5;
        justify-self: center;
        align-self: center;
    }

    .content {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 2;
        grid-column-end: 8;
    }

    input[type=text], input[type=email], textarea {
        border: 1px solid $dark_grey;
        width: 100%;
    }

    input:focus, textarea:focus {
        border: 1px solid $blue;
    }

    form {
        width: 100%;
    }

    button {
        outline:none;
        height: 40px;
        text-align: center;
        width: 130px;
        background: $white;
        border: 1px solid $blue;
        color:$blue;
        letter-spacing: 1px;
        text-shadow: 0;

        font: {
          size: 16px;
        }

        cursor: pointer;
        transition: all 0.25s ease;
        &:hover {
          color:white;
          background: $blue;
        }
    }
}