form {
	input, label, textarea {
		display: block;
		font-size: 1em;
	}

	input, textarea {
		width: 100%;
		padding: $size_xs;
		margin-bottom: $size_s;
		box-sizing: border-box;
		border: 0;
	}

	input:focus, textarea:focus {
		outline: 0;
		border-bottom: 2px solid $primary;
	}
}