.login-page {

    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;

    & > div {
        flex: 1;
    }

    h1 {
        font-size: 24px;
    }

    input {
        border: 0;
        border-bottom: 1px solid #aaaaaa;
        width: 100%;
        height: 27px;
        font-size: 18px;
        margin-bottom: 10px;
    }

    input:focus{
        outline: none;
        box-shadow: none;
        border-bottom: 1px solid #62aae6;
    }

    .forgot-pw {
        margin: 10px 0;
        color: #266ea8;
        cursor: pointer;
    }

    button {
        border: 0;
        background: #266ea8;
        color: white;
        padding: 5px;
        margin-top: 10px;
        outline: 0;
        padding: 10px 40px;
        font-size: 18px;
        border-radius: 25px;
        cursor: pointer;
    }

    .right-column {
        position: relative;
        background-image: url(../../public/graphics/loginbg.png);
        background-position: center center;
    }

    .left-column {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .login-form {
            width: 400px;
            max-width: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 20px;
            margin: -20px auto 0;
        }
    }
}

