.music-section {
    background-color: #fff;
    min-height: calc(100vh - 60px);
    height: calc(100vh - 60px);
    padding: 30px 0;

    img {
        height: 70%;
        max-height: 70%;
    }

    .content {
        grid-row-start: 2;
        grid-row-end: 5;
        grid-column-start: 3;
        grid-column-end: 9;

        max-width: 1000px;
    }

    .image-wrapper {
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start: 10;
        grid-column-end: 12;

        padding-top: $size_xl;
    }

    label {
        display: block;
    }

    .dropdown {
        width: 100%;
        border: 1px solid $dark_grey;
        transition: max-height 0.4s ease-in-out;
        overflow: hidden;
        max-height: 60px;
        margin-bottom: 45px;

        .dropdown-title {
            padding: 20px;
        }

        p {
            padding: 0 20px;
        }
    }

    .dropdown-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 0px solid #C0C0C0;
    }

    .arrow-down {
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;

        border-top: 7px solid #707070;

        transition: transform 0.2s ease-in-out;
    }

    .dd-input:checked + .dropdown {
        max-height: 500px;
    }

    .dd-input:checked + .dropdown .dropdown-title {
        border-bottom: 1px solid #C0C0C0;
    }

    .dd-input:checked + .dropdown .arrow-down {
        transform: rotate(-180deg);
    }

    input[type=checkbox] {
        display: none;
    }

    .dropdown-content {
        word-break: break-all;
    }
}
