.category h3 {
	position: relative;
	padding: $size_xs;
	margin-bottom: 0;
	background-color: $secondary;
	color: $light_grey;
	cursor: pointer;
}

.music_list {
	background-color: $primary;
    margin-top: 0;
    transition: all 0.4s ease-in-out;
    overflow: hidden;

	h4 {
		display: inline-block;
		margin-bottom: 0;
		border-bottom: 1px solid $grey;
	}

	p {
		margin-top: 0;
    }

    .music_list_item {
        padding: 0 $size_xs;
    }
}

.closed .music_list {
	max-height: 0;
}

.opened .music_list {
	max-height: 500px;
}

.arrow_container {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 50px;
	padding-top: 15px;

	.arrow1, .arrow2 {
		position: absolute;
		width: 4px;
		height: 15px;
		background-color: $light_grey;
		transform: rotate(-45deg);
	}

	.arrow2 {
		left: 8px;
		transform: rotate(45deg);
	}
}
