nav {
    position: absolute;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    word-spacing: 25px;

    a {
        text-decoration: none;
        color: #555;
        cursor: pointer;
        padding-bottom: 5px;
    }

    a:hover {
        border-bottom: 1px solid #555;
    }
}
