nav {
    position: fixed;
    width: 80vw;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    word-spacing: 25px;
    z-index: 10;

    a {
        text-decoration: none;
        color: #707070;
        cursor: pointer;
        padding-bottom: 5px;
    }

    a:hover {
        border-bottom: 1px solid #707070;
    }
}

.admin-nav {
    z-index: 99;
}

.burger-menu {
    display: none;
}

input[type=checkbox] {
    display: none;
}

@media only screen and (max-width: 415px) {
    .leaflet-bottom, .leaflet-pane {
        z-index: 7 !important;
    }

    .leaflet-top {
        z-index: 8 !important;
    }

    .burger-menu {
        display: block;
        position: fixed;
        right: 20px;
        top: 20px;
        height: 25px;
        width: 25px;
        z-index: 9;
    }

    nav {
        transform: scale(0);
        transition: all 0.4s ease-in-out;
    }

    .checkbox-input:checked + nav {
        transform: scale(1);
    }

    .mobile-nav {
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        z-index: 99;
        height: 100vh;
        width: 100vw;
        background-color: white;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        a {
            font-size: 30px;
            margin: 10px 0;
        }
    }
}
