/* Toilet */

.toilet-wrapper {
    position: absolute;
    bottom: 0;
    height: 300px;
    right: 55px;
}

.toilet-image {
    height: 300px;
}

.music-note1 {
    position: absolute;
    top: 50%;
    left: 26%;
    height: 50px;
    animation: fly-up1 2s linear infinite;
}

@keyframes fly-up1 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100px) translateY(-200px);
        opacity: 0;
    }
}

.music-note2 {
    position: absolute;
    top: 50%;
    left: 26%;
    height: 50px;
    animation: fly-up2 2s 2.45s linear infinite;
}

@keyframes fly-up2 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(40px) translateY(-150px);
        opacity: 0;
    }
}

.music-note3 {
    position: absolute;
    top: 50%;
    left: 26%;
    height: 50px;
    animation: fly-up3 2s 1.66s linear infinite;
}

@keyframes fly-up3 {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-10px) translateY(-250px);
        opacity: 0;
    }
}
