
// Typography
$font_family: "Nunito", sans-serif;

// Colors
$bg: 			#CDE5FE;
$white: 		#fff;
$light_grey: 	#F2F3F9;
$grey: 			#888;
$dark_grey: 	#555;
$primary: 		#A2D8F9;
$secondary: 	#0C426D;

// Spaces & Sizes
$toilet_size: 	200px;

$size_xs:		10px;
$size_s:		25px;
$size_m: 		50px;
$size_l: 		75px;
