
// Typography
$font_family: "Nunito", sans-serif;

// Colors
$bg: 			#CDE5FE;

$white: 		#fff;
$light_grey: 	#F0F0F0;
$dark_grey: 	#484848;

$light_green: 	#83AA97;
$green: 		#6E9683;
$dark_green: 	#5D7F6E;

$yellow: 		#E5CC93;
$blue: 			#6C94B7;
$dark_blue: 	#3A445E;

$primary: 		#A2D8F9;
$secondary: 	#0C426D;


// Spaces & Sizes
$toilet_size: 	200px;

$size_xs:		10px;
$size_s:		25px;
$size_m: 		50px;
$size_l: 		75px;
$size_xl: 		100px;
