
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'map';
@import 'nav';
@import 'toilet';

// Bootstrap
// @import '~bootstrap/scss/bootstrap';



/* --- Main --- */

* {
	font-family: $font_family;
}

body {
	padding: 0;
	margin: 0;
	background-color: $bg;
}

#app {
    display: flex;
    height: 100vh;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

main {
    display: block;
    padding-left: 50px;

    h1 {
	    color: $primary;
	    font-weight: 700;
	    padding-bottom: 20px;
	    margin-top: 100px;
	    margin-bottom: 0;
	    display: inline-block;
	    border-bottom: 2px solid $primary;
    }

	.content {
	    margin-top: 50px;
	    width: calc(100% - 400px);
	}
}
